{% extends 'bookstore/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5"></div>
    <h1 class="text-center">Contact the Author</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Get in Touch</h5>
                    <ul class="list-unstyled">
                        <li><strong>Phone:</strong> +254 725 793 204</li>
                        <li><strong>Email:</strong> anthonymaiywa@gmail.com</li>
                        <li><strong>Address:</strong> P.O Box 623 Bomet.</li>
                    </ul>
                    <hr>
                    <a href="https://wa.me/+2540725793204" class="btn btn-success w-50" target="_blank">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}